span.paragraphBreak {
  display: block;
  margin-bottom: 32px;
}

span.verseContainer {
  font-size: 22px;
  line-height: 32px;
}

h2.chapterHeader {
  margin-top: 32px;
  margin-bottom: -32px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: inherit;
}

h1.chapterRange {
  margin-bottom: 96px;
}
