span.paragraphBreak {
  display: block;
  margin-bottom: 0;
}

span.paragraphIndent {
  display: inline-block;
  width: 32px;
}

div.block-indent {
  margin: 32px;
  box-shadow: 2px 2px 4px rgb(230,230,230);
}

span.verseContainer {
  font-size: 22px;
  line-height: 32px;
  text-indent: 16px;
}

h2.chapterHeader {
  margin-top: 32px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: inherit;
}

h1.chapterRange {
  margin-bottom: 88px;
}

sup.verseNum {
  font-size: 14px;
  color: #b5b5b5;
  margin-top: -8px;
}
