@import "reset";
@import "mixins";
@import "animate";
@import "typography";

$sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Open Sans","Helvetica Neue",sans-serif;
$serif: 'Cardo', serif;

body {
  font-size: 16px;
  line-height: 24px;
  font-family: $serif;
  color: #4F4E4E;
  transition: all 0.25s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background: #ffffff;
  padding-bottom: 144px;
}

date {
  position: fixed;
  top: 22px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #b5b5b5;
  font-family: $sans-serif;
}

header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 24px;
  .logo {
    opacity: .5;
    cursor: pointer;
  }
  menu {
    display: none;
    transition: all .3s;
  }
  &.hover {
    min-width: 240px;
    max-width: 480px;
    background: rgba(255,255,255,.95);
    border-right: 1px solid #f5f5f5;
    .logo {
      opacity: 1;
    }
    menu {
      display: block;
      transition: all .3s;
    }
  }
}

.menu {
  margin-top: 40px;
  .menu-item {
    a {
      display: block;
      padding: 0;
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      h4 {
        padding-top: 16px;
        margin-top: 0;
      }
      h1 {
        margin: 0;
        padding-bottom: 32px;
      }
      &:hover {
        h1 {
          color: #06c;
        }
      }
    }
  }
}

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}

h2 {
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 25px;
  line-height: 32px;
  color: #B5B5B5;
  font-style: italic;
}

h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
}

h4 {
  font-size: 14px;
  line-height: 16px;
  font-family: $sans-serif;
  color: #B5B5B5;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 114px;
}

h5 {
  font-size: 10px;
  line-height: 10px;
  font-family: $sans-serif;
  color: #B5B5B5;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 32px;
}

main {
  @include clearfix();
  #watch,
  #read,
  #pray {
    margin-top: -146px;
    padding-top: 146px;
  }
}

.content {
  @include clearfix();
  width: 680px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.video {
  iframe {
    margin-left: -40px;
    margin-right: -40px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.credits {
  position: absolute;
  bottom: 20px;
  left: 24px;
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #b5b5b5;
  font-family: $sans-serif;
  a {
    color: inherit;
    text-decoration: none;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 64px;
  width: 100%;
  padding-top: 13px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform .3s;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 16px;
  #picker-previous {
    float: left;
  }
  #picker-next {
    float: right;
  }
  &.show {
    bottom: 0;
    transform: translateY(0%);
    transition: transform .3s;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background: #06c;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    opacity: .9;
  }
}

#bookmark {
  display: inline-block;
  background: url('/static/img/star_inactive.png');
  cursor: pointer;
  height: 15px;
  width: 16px;
  position: relative;
  top: 1px;
  margin-left: 3px;
  &:hover {
    background: url('/static/img/star_active.png');
  }
  &.active {
    background: url('/static/img/star_active.png');
  }
}

.hide {
  display: none;
}

@media screen and (max-width: 740px) {

}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
}
